@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "roboto", "sans-serif";
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    height: 100vh;
}

.right {
    width: 75vw;
    margin: 10px 0px;
    margin-right: 11px;
    position: relative;
    height: 97vh;
}

.home ul li {
    display: flex;
    gap: 8px;
    width: 23px;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 8px;
    width: 100%;
    padding: 14px 0;
}

.heading img {
    width: 23px;
}

.library {
    min-height: 72.6vh;
    position: relative;
    width: 21.7vw;
}
.hamburger{
    display: none;
}
.ham-arrow{
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: gray;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #242424;
    height: 80px;
}

.header>* {
    padding: 17px;
}

.logo{
    width: fit-content;
}
.loginbtn{
    width: 90px;
    height: 50px;
    border-radius: 50px;
    cursor:pointer;
    padding: 10px;
}
.loginbtn:hover{
    width: 92px;
    height: 52px;
    font-weight: bold;
}

.signupbtn{
    background-color: #242424;
    color: rgb(158, 158, 158);
    border: none;
    margin: 0 10px;
    cursor:pointer;
}
.signupbtn:hover{
    font-size: 0.85em;
    color: white;
    font-weight: bold;
}

.spotifyPlalists {
    padding: 16px;
}

.cardContainer {
    display: flex;
    gap: 20px;
    margin: 20px;
    max-height: 64vh;
    overflow-y: auto;
    flex-wrap: wrap;
}

.card {
    width: 160px;
    padding: 15px;
    border-radius: 5px;
    background-color: #181818;
    position: relative;
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.card h2,
p {
    padding-top: 5px;
}

.card h2 {
    font-size: 17px;
}

.card p {
    font-size: 14px;
    color: rgb(179, 179, 179);
}
.play{
    position: absolute;
    bottom: 0;
    top: 135px;
    right: 24px;
    opacity: 0;
    transition: all 0.2s ease-out;
}
.play svg {
    background-color: rgb(85, 196, 85);
    border-radius: 50%;
    padding: 8px;
}
.card:hover{
    .play{
        opacity: 1;
        top: 126px;
    }
}

.playbar{
    position: fixed;
    bottom: 30px;
    background-color: rgb(52, 52, 52);
    padding: 6px;
    width: calc(76vw - 54px);
    border-radius: 17px;
    min-height: 30px;   
    max-height: 60px;   
    margin: 0 7px;
}

.seekbar{
    width: 97%;
    border-radius: 20px;
    height: 3px;
    background:  linear-gradient(to right, rgb(255, 255, 255), rgb(73, 109, 187));
    position: absolute;
    bottom: 0;
    margin: 4px 12px;
    cursor: pointer;
}
.circle{
    width: 12px;
    height: 12px;
    border-radius: 23px;
    background-color: white;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s ease-out;
    cursor: pointer;
}

.playbtn {
    background-color: rgb(85, 196, 85);
    border-radius: 50%;
    padding: 8px;
}
.songbuttons{
    display: flex;
    justify-content: flex-start;
    gap: 15px; 
    margin-bottom: 5px;
}
.songList{
    overflow: auto;
    height: 450px;
    margin-bottom: 30px;
}
.songList ul{
    padding: 0 10px;
}
.songList ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    cursor: pointer;
    padding: 11px 0;
    border: 1px solid;
    margin: 13px 0;
    border-radius: 5px;
    padding: 8px;
}
.songList .info{
    font-size: 14px;
    width: 344px;
}

.playNow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playNow span{
    width: 80px;
    font-size: 15px;
    padding: 2px;
}
.songbuttons img{
    cursor: pointer;
}
.aboveBar{
    display: grid;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    padding: 6px;
    margin-bottom: 16px;
    grid-template-columns: 46% 37% 7% 20%;
}
.close{
    display: none;
}

.range{
    position: absolute;
    left: 51vw;
    margin-right: 20px;
    cursor: pointer;
}


.range{
    display: none;
    animation: fadein 0.5s ease-in;
}

.range input{
    cursor: pointer;
    
}

@keyframes fadein {
    0% { opacity: 0; }
    50% { opacity: 1; }
    
}

.volume img{
    filter: brightness(100%);
    cursor: pointer;
}

.card:hover{
    cursor: pointer;
    background-color: #3b3b3b;
    transition: all 0.5s;
}





.buttons{
    padding: 0;
    display: flex;
    margin-right: 30px;
    width: 250px;
    align-items: center;
    gap: 10px;
}
.addImage{
    width: 110px;
    height: 40px;
    border-radius: 50px;
    cursor:pointer;
    padding: 10px;
    font-size: 11px;
    border: none;;
}

.userImage {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.78);
    
}

.userImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}





@media (max-width:1300px) {
    .left{
        position: absolute;
        left: -120%;
        transition: all 0.5s;
        z-index: 1;
        background-color: black;
        width: 373px;
    }
    .right{
        width: 100vw;
        margin-left: 10px;
        
    }
    .playbar{
        width: calc(100vw - 49px);
    }
    .hamburger{
        display: block;
    }
    .close{
        position: absolute;
        right: 18px;
        top: 17px;
        display: block;
    }
    .songList{
        height: 370px;
    }
    .library {
        min-height: 68.6vh;
        
    }
    .range{
        position: absolute;
        left: 68vw;
        margin-right: 20px;
    }
    
}

@media (max-width:1000px){
    .aboveBar{
        grid-template-columns: 46% 26% 9% 20%;
    }
    .range{
        position: absolute;
        left: 64vw;
        top: 44px;
    }
}


@media (max-width:500px){



    body {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .left {
        height: 93vh;
    }
    
    .loginbtn{
        border: none;
    }
    .playbar{
        width: 90vw;
        bottom: 30px;
        margin-left: 15px;
        border-radius: 11px;
        font-size: 14px;
        max-height: 50px;
        
    }
    .volume{
        display: none;
    }
    .aboveBar{
        display: grid;
        grid-template-columns: 34% 41% 29%;
    }
    .seekbar{
        width: calc(90vw - 3px);
        border-radius: 20px;
        height: 3px;
        background:  linear-gradient(to right, rgb(255, 255, 255), rgb(73, 109, 187));
        position: absolute;
        bottom: 0;
        margin: 0px 2px;
        cursor: pointer;
    }
    .right{
        margin: 0;
        height: 93vh;
    }
    .library{
        width: 323px;;
        height: calc(72vh - 44px);
    }
    .songList{
        width: calc(90vw - 49px);
        height: calc(66vh - 50px);
    }
    .card{
        width: 187px;
        display: grid;
        margin: 0px 0;
        padding: 0px;
        height: 74px;
        border-radius: 7px;
        grid-template-rows: 1fr 1fr;
        margin-top: 5px;
    }
    .card h2, p{
        margin-left: 77px;
    }
    .card h2{
        font-size: 15px;
        
    }
    .card p{
        font-size: 14px;
    }
    
    .cardContainer{
        margin: 0;
        padding: 0;
        gap: 7px;
        margin: 26px 10px;
        overflow: auto;
        height: fit-content;
        justify-content: center;
        
        
        
    }
    .card .play{
        display: none;
    }
    .card img{
        width: 38%;
        border-radius: 7px 0px 0px 7px;
        margin-left: 0px;
        position: absolute;
        left: 0px;
    }
    .spotifyPlalists{
        padding: 0px;
        margin-top: 20px;
        
    }

    .songList ul li{
        height: 43px;
        width: 287px;
    }
    .songList .info{
        white-space: nowrap;
        overflow: hidden;
    }
    .range{
        display: none;
    }
    .songinfo{
        white-space: nowrap;
        overflow: hidden;
        width: 20vw;
    }
    
    .buttons{
        /* border: 2px solid; */
        padding: 0;
        display: flex;
        margin-right: 8px;
        width: 230px;
        align-items: center;
        gap: 10px;
    }
    .addImage{
        width: 110px;
        height: 40px;
        border-radius: 50px;
        cursor:pointer;
        padding: 10px;
        font-size: 11px;
        border: none;
    }
    
    .userImage {
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.78);
        
    }
    
    .userImage img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }   

    .card p{
        font-size: 12px;
    }

    .spotifyPlalists > h2{
        margin-left: 20px;
    }
}
